{% extends 'base.html' %}

{% block script %}
    <script>

        // https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript/901144#901144
        function getParameterByName(name, url) {
                if (!url) {
                    url = window.location.href;
                }
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

        $(document).ready(function(){
            // console.log('Working!');            
            
            var query = getParameterByName('q');
            var tweetList = [];

            // função para gravar o tweet no array tweetList
            function attachTweet(tweetValue, prepend){
                // date_display vem de serializers.py
                var dateDisplay = tweetValue.date_display;
                var tweetContent = tweetValue.content;
                var tweetUser = tweetValue.user;
                var tweetFormattedHtml = "<div class=\"media\">\
                            <div class=\"media-body\">"
                    + tweetContent
                    + "<br />via " + tweetUser.username + " | "
                    + dateDisplay + " | "
                    + "<a href='#'>View</a>"
                    + "</div>\
                            </div>\
                            <br /><hr />"
                if (prepend==true){
                    $('#tweet-container').prepend(tweetFormattedHtml)
                } else {
                    $('#tweet-container').append(tweetFormattedHtml)
                        }
                    }
                    
                    function parseTweets() {
                        if (tweetList == 0) {
                            $('#tweet-container').text("No tweets currently found.")
                        } else {
                            // tweets exist, parse & display them
                            $.each(tweetList, function (key, value) {
                                var tweetKey = key;
                                attachTweet(value)
                    })
                }
            }

            function fetchTweets(){
                console.log("fetching.....")
                $.ajax({
                    // url: "{% url 'tweet-api:list' %}", // formato de template do django
                    url: "/api/tweet/",
                    data: {
                        "q": query
                    },
                    method: "GET",
                    success: function (data) {
                        // console.log("sucesso!");
                        // console.log(data);
                        tweetList = data
                        parseTweets();



                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    }
                })
            }

            fetchTweets()

            // contagem de caracteres
            var charsStart = 140;
            var charsCurrent = 0;
            $('#tweet-form').append("<span id='tweetCharsLeft'>" + charsStart + "<span>")

            $("#tweet-form textarea").keyup(function(event){
                // console.log(event.key, event.timeStamp)
                var tweetValue = $(this).val()
                charsCurrent = charsStart - tweetValue.length
                var spanChars = $("#tweetCharsLeft")
                spanChars.text(charsCurrent)

                if (charsCurrent > 0) {
                    // remove classes
                    spanChars.removeClass("grey-color")
                    spanChars.removeClass("red-clor")
                } else if (charsCurrent == 0) {
                    // add grey class
                    spanChars.removeClass("red-color")
                    spanChars.addClass("grey-color")
                } else if (charsCurrent < 0) {
                    // add red class
                    spanChars.removeClass("grey-color")
                    spanChars.addClass("red-color")
                }

            })

            $('#tweet-form').submit(function(event){
                event.preventDefault()
                var this_ = $(this)
                // console.log(event)
                // console.log(this_.serialize())
                var formData = this_.serialize()
                if (charsCurrent >= 0) {
                    $.ajax({
                        url: "/api/tweet/create/",
                        data: formData,
                        method: "POST",
                        success: function (data) {
                            // limpa a textarea de input de texto do tweet
                            this_.find("input[type=text], textarea").val("") // faz a mesma coisa da linha abaixo
                            // $(this_).find("input[type=text], textarea").val("") // faz a mesma coisa da linha acima

                            // will attach that tweet value for whatever sent back from database
                            attachTweet(data, true)
                            // console.log(data)
                            // fetchTweets()
                            // tweetList = data
                            // parseTweets();
                        },
                        error: function (data) {
                            console.log("error");
                            console.log(data.statusText);
                            console.log(data.status)
                            // console.log(url)
                        }
                    })
                } else {
                    console.log("Cannot send, tweet too long.")
                }

            })
        });
    </script>    
{% endblock script %}
    

{% block content %}

<div class="row">
    <div class="col-sm-3 col-xs-12" style="background-color: #aaa;">
        <h1> {{ request.user }} </h1>
    </div>
    <div class="col-sm-9">

        {% if not request.GET.q %}
            <div class="">
                <!-- form=create_form vem da funçao get_context_data em /tweets/views.py -->
                {% include 'tweets/form.html' with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %}
            </div>
            <hr />
        {% endif %}

        <div id="tweet-container">
        
        </div>

        
    </div>
</div>

{% endblock content %}